<nav-bar></nav-bar>

<div ng-init="init()">

  <div class="content-inner">
    <div class="container-fluid">

      <div class="row">
        <div class="page-header">
          <div class="d-flex align-items-center">
            <h2 class="page-header-title">Aims <a ui-sref="aimsnew">+</a></h2>
          </div>
        </div>
      </div>

      <div class="row" ng-repeat="aim in aims">
        <div class="col-12">
          <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
              <h4>{{ aim.description }}</h4>
            </div>

            <div class="widget-body">
              <canvas id="line" class="chart chart-line" 
              chart-data="aim.data"
              chart-labels="aim.labels"
              chart-options="options"
              chart-click="onClick">
              </canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<fsc-footer></fsc-footer>