<nav-bar></nav-bar>

<div ng-init="init()">

  <div class="content-inner">
    <div class="container-fluid">

      <div class="row">
        <div class="page-header">
          <div class="d-flex align-items-center">
            <h2 class="page-header-title">Aims <a ui-sref="aimsnew">+</a></h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="widget has-shadow">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col" ng-repeat='aim in aims' style="text-transform: capitalize;">{{ aim.description }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="dateEntry in dateEntries">
                  <td scope="row">{{ dateEntry.date }}</th>
                  <td ng-repeat="entry in dateEntry.entries">{{ entry.achieved }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<fsc-footer></fsc-footer>