<div class="modal-backdrop">
  <div class="modal" data-backdrop="static" data-keyboard="false" id="loading-modal" style="display: block">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-shadow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirm()">Confirm</button>
            </div>
        </div>
    </div>
  </div>
</div>