<nav-bar></nav-bar>
<div ng-init="init()">
  <div class="container pt-3 pb-5 pt-sm-5">

    <div class="row">
      <div class="page-header">
        <div class="d-flex align-items-center">
          <h2 class="page-header-title">{{ client.name }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <!-- Sorting -->
        <div class="widget has-shadow">
          <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>Summary</h4>
          </div>
          <div class="widget-body">
              <div class="table-responsive">
                  <table class="table mb-0">
                      <tbody>
                        <tr>
                          <th style="background-color: rgba(52, 40, 104, 0.05); border-radius: 4px; border: 0 none; padding: 20px 12px; color: #5d5386; font-weight: 600;">Tranxactions Balance</th>
                          <td>{{ tranxactionsBalance | currency }}</td>
                        </tr>
                        <tr>
                          <th style="background-color: rgba(52, 40, 104, 0.05); border-radius: 4px; border: 0 none; padding: 20px 12px; color: #5d5386; font-weight: 600;">Jobs Balance</th>
                          <td>{{ jobsBalance | currency }}</td>
                        </tr>
                        <tr>
                          <th style="background-color: rgba(52, 40, 104, 0.05); border-radius: 4px; border: 0 none; padding: 20px 12px; color: #5d5386; font-weight: 600;">Tranxactions Balance - Jobs Balance</th>
                          <td style="border-top: 1px solid #5d5386; border-bottom: 1px solid #5d5386; padding: 20px 12px;">{{ tranxactionsBalance - jobsBalance | currency }}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <!-- End Sorting -->
      </div>
    </div>
    <!-- End Row -->

    <div class="row">
      <div class="col-xl-12">
        <!-- Sorting -->
        <div class="widget has-shadow">
          <div class="widget-header bordered no-actions d-flex align-items-center">
              <h4>Payment Summaries <a ui-sref="paymentsummariesnew">+</a></h4>
          </div>
          <div class="widget-body">
              <div class="table-responsive">
                  <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Year</th>
                          <th>Gross</th>
                          <th>Tax Withheld</th>
                          <th>Allowances</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="paymentSummary in paymentSummaries" style="border: 0px solid white;">
                        <tr>
                          <td>{{ paymentSummary.year_ending }}</td>
                          <td>{{ paymentSummary.gross_payment | currency }}</td>
                          <td>{{ paymentSummary.total_tax_withheld | currency }}</td>
                          <td>{{ paymentSummary.total_allowances | currency }}</td>
                          <td class="td-actions">
                            <a><i class="la la-edit edit" ui-sref="paymentsummariesedit({ id: paymentSummary.id })"></i></a>
                            <a ng-click="deleteSummary( $index )"><i class="la la-close delete"></i></a>
                          </td>
                        </tr>
                        <tr ng-show="paymentSummary.attachments" class="sub-table-row">
                          <td colspan="5">
                            <div ng-repeat="attachment in paymentSummary.attachments">
                              <a ng-href="{{ attachment.url }}" target="_blank"><i class="la la-file-archive-o" style="font-size: 1.6rem"></i> {{ attachment.aws_key }}</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <!-- End Sorting -->
      </div>
    </div>
    <!-- End Row -->

  </div>
</div>
<fsc-footer></fsc-footer>
