// This is to add webpack js into active admin as per
// https://gist.github.com/humphreyja/6de78228186d4e8eaa69ef3b7277c3a1
= javascript_pack_tag 'application'
%script{:src => "https://widget.cloudinary.com/v2.0/global/all.js", :type => "text/javascript"}
