<nav-bar></nav-bar>
<div ng-init="init()" id="work">
  <div class="content-inner">
    <div class="container-fluid">

      <div class="row">
          <div class="page-header">
            <div class="d-flex align-items-center">
              <h2 class="page-header-title">Tax Categories</h2>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
              <h4>New</h4>
            </div>

            <div class="widget-body">
              <form ng-submit="createTaxCategory()">
                <div class="form-group">
                  <input type="text"
                    ng-model="newTaxCategory.description"
                    placeholder="Description"
                    class="form-control">
                </div>

                <div class="text-right">
                  <button class="btn btn-gradient-01" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5">
          <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
              <h4>Tax Categories</h4>
            </div>

            <div class="widget-body">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Description</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="taxCategory in taxCategories" style="border: 0px solid white;">
                    <tr>
                      <td>{{ taxCategory.description }}</td>
                      <td class="td-actions">
                        <a ui-sref="taxcategoriesedit({ id: taxCategory.id })"><i class="la la-eye"></i></a>
                        <a ng-click="deleteTaxCategory( $index )"><i class="la la-close delete"></i></a>
                      </td>
                    </tr>
                    <tr class="sub-table-row" ng-if="client.email">
                      <td colspan="2" >
                        <div>
                          # {{ client.email }}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<fsc-footer></fsc-footer>