<nav-bar></nav-bar>
<div id="properties" ng-init="init()" class="pt-3 pb-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Users</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>Create User</h4>
        <form ng-submit="createUser()">
          <div class="form-group">
            <input type="text"
              ng-model="newUser.email"
              placeholder="Email"
              class="form-control"
              required>
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newUser.username"
              placeholder="Username"
              class="form-control">
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newUser.first_name"
              placeholder="First Name"
              class="form-control">
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newUser.last_name"
              placeholder="Last_name"
              class="form-control">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>