<nav-bar></nav-bar>
<div class="page-content d-flex align-items-stretch" id="tranxactions">
  <div class="content-inner">
    <div class="container-fluid">
      <!-- Begin Page Header-->
      <div class="row">
        <div class="page-header">
          <div class="d-flex align-items-center">
              <h2 class="page-header-title">Tenancy Agreements | <select ng-model="activeStatus" ng-options="activeStatus for activeStatus in activeStatuses"></select></h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <!-- Sorting -->
          <div class="widget has-shadow">
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                          <tr>
                            <th>Starting Date</th>
                            <th>Tenant</th>
                            <th>Balance</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="tenancyAgreement in tenancyAgreements" style="border: 0px solid white;">
                          <tr>
                            <td>{{ tenancyAgreement.starting_date | date : 'd MMM yy' }}</td>
                            <td>{{ tenancyAgreement.user.username }}</td>
                            <td>{{ tenancyAgreement.balance | currency }}</td>
                            <td class="td-actions">
                              <a ui-sref="tenancyagreementsedit({ id: tenancyAgreement.id })"><i class="la la-edit edit"></i></a>
                              <a ui-sref="tenancyagreementsshow({ id: tenancyAgreement.id })"><i class="la la-eye"></i></a>
                              <a ng-click="deleteTenancyAgreement( $index )"><i class="la la-close delete"></i></a>
                            </td>
                          </tr>
                          <tr class="sub-table-row">
                            <td colspan="5">
                              <div>
                                Address: {{ tenancyAgreement.property.address }}
                              </div>
                              <div>
                                Rent / Fortnight: {{ tenancyAgreement.amount | currency }}
                              </div>
                              <div>
                                Bond: {{ tenancyAgreement.bond | currency }}
                              </div>
                              <div>
                                Active: {{ tenancyAgreement.active }}
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
          <!-- End Sorting -->
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
</div>
<fsc-footer></fsc-footer>