<nav-bar></nav-bar>
<div class="page-content d-flex align-items-stretch" ng-init="init()">
  <div class="content-inner">
    <div class="container-fluid">
      <!-- Begin Page Header-->
      <div class="row">
        <div class="page-header">
          <div class="d-flex align-items-center">
              <h2 class="page-header-title">Tenancy Agreement</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <!-- Sorting -->
          <div class="widget has-shadow">
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                          <tr>
                            <td class="table-label">Tenant</td>
                            <td>{{ tenancyAgreement.user.username }}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Address</td`>
                            <td>{{ tenancyAgreement.property.address }}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Balance</td>
                            <td>{{ tenancyAgreement.balance | currency }}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Rent / Fortnight</td`>
                            <td>{{ tenancyAgreement.amount | currency}}</td>
                          </tr>
                          <tr>
                            <td class="table-label">Bond</td`>
                            <td>{{ tenancyAgreement.bond | currency}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
          <!-- End Sorting -->
        </div>
      </div>
      <!-- End Row -->

      <div class="row">
        <div class="col-xl-12">
          <!-- Sorting -->
          <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>Tranxactions</h4>
            </div>
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Tax</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="tranxaction in tranxactions" style="border: 0px solid white;">
                          <tr>
                            <td>{{ tranxaction.date | date : 'd MMM yy' }}</td>
                            <td>{{ tranxaction.description }}</td>
                            <td>{{ tranxaction.amount | currency }}</td>
                            <td>{{ tranxaction.tax }}</td>
                            <td class="td-actions">
                              <a><i class="la la-edit edit"></i></a>
                              <a ng-click="deleteTranxaction( $index )"><i class="la la-close delete"></i></a>
                            </td>
                          </tr>
                          <tr ng-show="tranxaction.attachments.length" class="sub-table-row">
                            <td colspan="5">
                              <div ng-repeat="attachment in tranxaction.attachments">
                                <a ng-href="{{ attachment.url }}" target="_blank"><i class="la la-file-archive-o" style="font-size: 1.6rem"></i> {{ attachment.aws_key }}</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
          <!-- End Sorting -->
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
</div>
<fsc-footer></fsc-footer>