@import 'dropzone/src/dropzone';

// === VELZON ===
@import '../../../lib/assets/css/bootstrap.min';
@import '../../../lib/assets/css/icons.min';
@import '../../../lib/assets/css/app.min';
@import '../../../lib/assets/libs/flatpickr/flatpickr.min';

// === CUSTOM ===
@import './application/header';

@media (min-width: 1024.1px) {
	.page-content {
		margin-top: 0 !important;
		padding: calc(65px + 2.7rem) 0.75rem 60px 0.75rem !important;
	}
}

.required::after {
  color: var(--bs-red);
  content: ' *';
}

// === DROPZONE ===
.dropzone {
  border-style: dashed;
  padding: 12px;

  .dz-message {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  .dz-preview {
    margin: 0;
    max-width: 100%;

    .dz-image {
      max-width: 100%;
    }
  }
}

