#home {
  h4 {
    margin: 0 0 1px 0;
  }

  iframe {
    height: 100%;
    width: 100%;
    max-width: 343px;
  }

  ul.list-grid {
    display: block;
    list-style: none;
    padding: 0;
    font-size: 0;
  }

  ul.list-grid > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  #add-blog-post-form {
    display: none;
    #form-tag-container {
      height: auto;

      .tag-container {
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 4px;
        padding: 2px;
        border: 1px solid lightgrey;

        span {
          color: #337ab7;
          font-size: 12px;
        }
      }
    }

    #plus-sign {
      color: #337ab7;
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }

  .project-description {
    font-size: 13px;
    font-weight: 200;
    padding: 0 3px;
  }

  .blog-post {
    margin-bottom: 25px;

    .blog-post-header {
      padding: 0 3px;
      margin-bottom: 5px;

      h4 {
        font-weight: 200;
      }

      .date {
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 0px;
      }
    }

    .blog-post-image-frame {
      border: 1px solid lightgray;
      display: inline-block;
      margin-bottom: 8px;
      padding: 3px;
      position: relative;

      .play-button-container {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 60px;
        width: 60px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .blog-post-image {
      max-height: 256px;
      overflow: hidden;

      img {
        height: auto;
        max-width: 343px;
        width: 100%;
      }
    }
  }
}