#home {
  h4 {
    margin: 0 0 1px 0;
  }

  iframe {
    height: 100%;
    width: 100%;
    max-width: 343px;
  }

  ul.list-grid {
    display: block;
    list-style: none;
    padding: 0;
    font-size: 0;
  }

  ul.list-grid > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  #add-blog-post-form {
    display: none;
    #form-tag-container {
      height: auto;

      .tag-container {
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 4px;
        padding: 2px;
        border: 1px solid lightgrey;

        span {
          color: #337ab7;
          font-size: 12px;
        }
      }
    }

    #plus-sign {
      color: #337ab7;
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }

  #home-banner {
    background-color: #00091e;
    background-image: url("http://res.cloudinary.com/digguide/image/upload/s--IC3myzCE--/v1485791038/Chang_Bear_vzlalx.jpg");
    background-size: contain;
    color: white;
    height: 800px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 15px 0 15px 15px;
    position: relative;

    .home-banner-text {
      font-family: montserrat;
      font-size: 14px;
      color: #ffff00;
      margin-bottom: 10px;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }

    #spirit-animal-text {

    }
    #what-i-want-to-work-on-text {
      margin-bottom: 15px;
    }
    #linked-in-image {
      width: 40px;

      img {
        width: 100%;
      }
    }
  }

  .blog-post {
    margin-bottom: 25px;

    .blog-post-header {
      padding: 0 3px;
      margin-bottom: 5px;

      h4 {
        font-weight: 200;
      }

      .date {
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 0px;
      }
    }

    .blog-post-image-frame {
      border: 1px solid lightgray;
      display: inline-block;
      margin-bottom: 8px;
      padding: 3px;
      position: relative;

      .blog-post-image {
        max-height: 256px;
        overflow: hidden;

        img {
          height: auto;
          max-width: 343px;
          width: 100%;
        }
      }

      .play-button-container {
        position: absolute;
        bottom: 5px;
        left: 5px;

        height: 60px;
        width: 60px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .blog-post-description {
      font-size: 14px;
      font-weight: 200;
      padding: 0 3px;
    }

    .post-tags {
      a {
        font-weight: 200;
      }
    }
  }
}