#navbar {
  background-color: #44749D;
  min-height: 65px;
  
  .container-fluid {

    .navbar-header {
      min-height: 63px;

      .navbar-toggle {
        border-color: white;
        margin-top: 15px;
        span {
          background-color: white;
        }
      }

      .navbar-toggle:focus {
          background-color: #44749D;
      }

      .navbar-toggle:hover {
          background-color: #44749D;
      }
    }

    .navbar-shadow {
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }


    #logo {
      position: absolute;
      top: 10px;

      .chips {
        color: orange;
        font-size: 47px;
      }
    }

    #navbar-header {
      position: absolute;
      top: -10px;
      left: 85px;

      h3 {
        color: #ffff00;
        font-weight: 400;
      }
    }

    #sub-header {
      color: #85bb65;
      font-size: 14px;
      position: absolute;
      top: 35px;
      left: 85px;
    }

    #myNavbar {
      background-color: #44749D;

      .dropdown-menu {
        background-color: #44749D;
        padding: 20px;

        .dropdown-item {
          display: block;
        }
      }

      .dropdown-toggle {
        background-color: #44749D;
      }

      ul {
        margin-top: 5px;

        span {
          margin-right: 8px;
        }
      }

      a {
        color: #ffff00;
        font-weight: 400;
      }
    }
  }
};