#navbar {
  background-color: #44749D;
  height: 70px;

  .navbar-shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           0px 8px 13px rgba(0,0,0,0.1),
           0px 18px 23px rgba(0,0,0,0.1);
  }

  .navbar-toggler {
    border-color: white;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }


  #navbar-header {
    h3 {
      color: #ffff00;
      margin-bottom: 0;
    }
  }

  #sub-header {
    color: #85bb65;
    font-size: 14px;
  }

  #navbar-header-content {
    .dropdown-menu {
      background-color: #44749D;
      border: 0;

      a:hover {
        background-color: #44749D;
      }

      .dropdown-item {
        display: block;
      }
    }

    .dropdown-toggle {
      background-color: #44749D;
    }

    .nav-item {
      position: relative;
      min-width: 75px;
      margin-left: 30px;

      img {
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 100000;
      };
    }

    a {
      color: #ffff00;
    }
  }
};