#portfolio {
  h4 {
    margin: 0 0 1px 0;
  }

  ul.list-grid {
    display: block;
    list-style: none;
    padding: 0;
    font-size: 0;
  }

  ul.list-grid > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  .date {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 0px;
  }

  .project-description {
    font-size: 13px;
    font-weight: 200;
    padding: 0 3px;
  }

  .project-header {
    padding: 0 3px;
    margin-bottom: 5px;

    a {
      h4 {
        font-weight: 200;
      }
    }
  }

  .portfolio-project {
    margin-bottom: 10px;

    .project-image-frame {
      border: 1px solid lightgray;
      display: inline-block;
      margin-bottom: 8px;
      padding: 3px;
    }

    .project-image {
      max-height: 256px;
      overflow: hidden;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}