<div ng-init="init()">
  <nav-bar></nav-bar>
  <div class="container" style="margin-top: -20px;">
    <div class="row">
      <div class="col-xs-12">
        <h1>Cleaning Roster</h1>
        <h5>Aim: Fair / Consitent / Functional</h5>
      </div>

      <div class="col-xs-12">
        <hr>
        <h4 ng-click="addTenantFormVisible = !addTenantFormVisible; slideToggleContainer( '#add-tenant-form' );" class="fake-link">Add a new tenant
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addTenantFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addTenantFormVisible"></span>
        </h4>

        <form ng-submit="createTenant()" id="add-tenant-form" style="display: none;">
          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTenant.email" 
              placeholder="Email">
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTenant.username" 
              placeholder="Username">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Housemates</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tenant in tenants">
              <th scope="row">{{ tenant.username }}</th>
              <td>{{ tenant.cleaning_points }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12">
        <hr>
        <h4 ng-click="addTaskFormVisible = !addTaskFormVisible; slideToggleContainer( '#add-task-form' );" class="fake-link">Add a new task
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addTaskFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addTaskFormVisible"></span>
        </h4>

        <form ng-submit="createTask()" id="add-task-form" style="display: none;">
          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTask.description" 
              placeholder="Description">
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTask.points" 
              placeholder="Points">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tasks</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks">
              <th scope="row">{{ task.description }}</th>
              <td>{{ task.points }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12">
        <hr>
        <h4 ng-click="addRecordFormVisible = !addRecordFormVisible; slideToggleContainer( '#add-record-form' );" class="fake-link">Add a new record
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addRecordFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addRecordFormVisible"></span>
        </h4>
        <form ng-submit="createRecord()" id="add-record-form" style="display: none;">
          <div class="form-group">
            <select class="custom-select" ng-model="newRecord.user_id" ng-options="tenant.id as tenant.username for tenant in tenants">
            </select>
          </div>

          <div class="form-group">
            <select class="custom-select" ng-model="newRecord.description" ng-options="task.description as task.description for task in tasks">
            </select>
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newRecord.points" 
              placeholder="Points">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col" ng-repeat="task in tasks">{{ task.description }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="date in dates">
              <th scope="row">{{ date | date : 'd MMM yy' }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>