<div ng-init="init()">
  <nav-bar></nav-bar>
  <div class="container" style="margin-top: -20px;">
    <div class="row">
      <div class="col-12">
        <h1>Cleaning Roster</h1>
        <h5>Aim: Fair / Consistent / Functional</h5>
        <div>
          <ul>
            <li>
              Tracking the cleaning my housemates and myself are doing so that I can keep things fair.
            </li>
            <li>
              Easy to see who should do what next.
            </li>
            <li>
              Online access and mobile friendly so that I can add and look at on the fly.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <hr>
        <h4 ng-click="addTenantFormVisible = !addTenantFormVisible; slideToggleContainer( '#add-tenant-form' );" class="fake-link">Add a new tenant
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addTenantFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addTenantFormVisible"></span>
        </h4>

        <form ng-submit="createTenant()" id="add-tenant-form" style="display: none;">
          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTenant.email" 
              placeholder="Email">
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTenant.username" 
              placeholder="Username">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" ng-repeat="tenant in tenants">{{ tenant.username }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks">
              <th scope="row">{{ task.description }}</th>
              <td ng-repeat="tenant in tenants">{{ tenant.cleaning_summary[task.id] }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <hr>
        <h4 ng-click="addTaskFormVisible = !addTaskFormVisible; slideToggleContainer( '#add-task-form' );" class="fake-link">Add a new task
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addTaskFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addTaskFormVisible"></span>
        </h4>

        <form ng-submit="createTask()" id="add-task-form" style="display: none;">
          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              class="form-control" 
              ng-model="newTask.description" 
              placeholder="Description">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tasks</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks">
              <th scope="row">{{ task.description }}</th>
              <td><a ng-click="deleteCleaningTask( $index )" style="cursor: pointer"><span class="glyphicon glyphicon-trash "></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <hr>
        <h4 ng-click="addRecordFormVisible = !addRecordFormVisible; slideToggleContainer( '#add-record-form' );" class="fake-link">Add a new record
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addRecordFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addRecordFormVisible"></span>
        </h4>
        <form ng-submit="createRecord()" id="add-record-form" style="display: none;">
          <div class="form-group">
            <select class="custom-select" ng-model="newRecord.user_id" ng-options="tenant.id as tenant.username for tenant in tenants">
            </select>
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              data-provide='datepicker' 
              class="form-control" 
              id="date-picker" 
              ng-model="newRecord.date" 
              placeholder="Date">
          </div>

          <div class="form-group">
            <select class="custom-select" ng-model="newRecord.cleaning_task_id" ng-options="task.id as task.description for task in tasks">
            </select>
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th scole="col">Date</th>
              <th scole="col">Tenant</th>
              <th scole="col">Task</th>
              <th scole="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cleaningRecord in cleaningRecords">
              <td>{{ cleaningRecord.date }}</td>
              <td>{{ cleaningRecord.user.username }}</td>
              <td>{{ cleaningRecord.cleaning_task.description }}</td>
              <td><a ng-click="deleteCleaningRecord( $index )" style="cursor: pointer"><span class="glyphicon glyphicon-trash "></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>