<nav-bar></nav-bar>
<div id="farming" ng-init="init()" class="pt-3 pb-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Farming $1.5m by 40</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Aim</th>
              <th scope="col">Current Per Day Aim</th>
              <th scope="col">+/-</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ aim | currency }}</td>
              <td>{{ currentPerDayAim | currency }}</td>
              <td>{{ currentPlusMinus | currency }}</td>
            </tr>
            <tr class="sub-table-row">
              <td colspan="5">
                <div>
                  # <strong>Farming: </strong> {{ farmingPlusMinus| currency }}
                </div>
                <div>
                  # <strong>Gambling: </strong> {{ gamblingPlusMinus | currency }}
                </div>
                <div>
                  # <strong>Per Day Outcome:</strong> {{ currentDailyPlusMinus | currency }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Create New Transaction</h3>
        <form ng-submit="createFarmingTransaction()">
          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              data-provide='datepicker' 
              class="form-control" 
              id="date-picker" 
              ng-model="newFarmingTransaction.date" 
              placeholder="Date">
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newFarmingTransaction.description"
              placeholder="Description"
              class="form-control">
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text"
                class="form-control"
                ng-model="newFarmingTransaction.amount"
                placeholder="Amount">
            </div>
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newFarmingTransaction.odds"
              placeholder="Odds"
              class="form-control">
          </div>

          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" ng-model="newFarmingTransaction.farming" id="new-farm-transaction-farming">
            <label class="form-check-label" for="new-farm-transaction-farming">Farming?</label>
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="transaction in farmingTransactions">
            <tr>
              <td>{{ transaction.date | date : 'd MMM yy' }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.amount | currency }}</td>
              <td><a><span class="fa fa-trash-alt" ng-click="deleteTransaction( $index )"></span></a></td>
              <td><a ng-click="slideToggleContainer(  '#farming-transaction-' + $index )"><span class="glyphicon glyphicon-triangle-bottom"></span></a></td>
            </tr>
            <tr class="sub-table-row" id="farming-transaction-{{ $index }}" style="display: none;">
              <td colspan="5">
                <div ng-if="transaction.odds && transaction.odds > 1">
                  <strong># Odds:</strong> {{ transaction.odds }}
                </div>
                <div>
                  <strong># Farming:</strong> {{ transaction.farming }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>