<div ng-init="init()">
  <div style="background-color: #0966B9">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 style="color: white">GAMBLING CLUB</h1>
          <h4 style="color: white">Last updated {{ lastUpdatedDate | date : "EEEE, d MMMM, y" }}</h4>
          <h5 style="color: white">Total: Deposit - Withdrawal + Win amounts - losses</h5>
          <h5 style="color: white"># Of Days In Operation: {{ numberOfDaysInOperation }}</h5>
          <h5 style="color: white">Next Deposit Date: 28 December 2017</h5>
        </div>
        <div class="col-xs-12" style="color: white">
          <table class="table table-bordered" style="margin-top: 15px">
            <thead>
              <tr>
                <th scope="col">Member</th>
                <th scope="col">+/-</th>
                <th scope="col"># of Bets</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Chris</th>
                <td>+$250</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">Steve</th>
                <td>$0</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>+$250</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Add Entry</h2>
          <form ng-submit="createEntry()">
            <div class="form-group">
              <label for="date-picker">Date</label>
              <input class="form-control" id="date-picker" type="text" 
            autocomplete="off"    
            data-provide='datepicker' ng-model="entry.date">
            </div>
            <div class="form-group">
              <label for="entry-type">Entry Type:</label>
              <select class="form-control" id="entry-type" ng-model="entry.type">
                <option value="win">Win</option>
                <option value="loss">Loss</option>
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
              </select>
            </div>
            <div class="form-group" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label for="amount">Wager</label>
              <input class="form-control" id="amount" ng-model="entry.wager">
            </div>
            <div class="form-group" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label for="odds">Odds</label>
              <input class="form-control" id="odds" placeholder="Odds" ng-model="entry.odds">
            </div>
            <div class="form-group" ng-hide="entry.type === 'loss'">
              <label for="amount" ng-show="entry.type === 'win'">Win</label>
              <label for="amount" ng-show="entry.type === 'deposit' || entry.type ==='withdrawal'">Amount</label>
              <input class="form-control" id="amount" ng-model="entry.amount">
            </div>
            <div class="form-group" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label for="description">Description</label>
              <input class="form-control" id="description" placeholder="Description" ng-model="entry.description">
            </div>
            <div class="form-group">
              <label for="member-type">Member</label>
              <select class="form-control" id="member-type" ng-model="entry.user_id">
                <option ng-repeat="user in users" ng-value="user.id">{{ user.username }}</option>
              </select>
            </div>
            <div class="form-check" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" ng-model="entry.guarantee">
                Guarantee
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Entries</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">+</th>
                <th scope="col">-</th>
                <th scope="col">Wager</th>
                <th scope="col">Odds</th>
                <th scope="col">Guarantee</th>
                <th scope="col">Member</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in entries">
                <td>{{ entry.date | date }}</td>
                <th scope="row">{{ entry.description }}</th>
                <td>{{  ( entry.amount > 0 ) ? ('$' + entry.amount) : '' }}</td>
                <td>{{ ( entry.amount < 0 ) ? ('$' + entry.amount * -1) : '' }}</td>
                <td>{{ ( entry.gambling ? '$' + entry.wager : '' ) }}</td>
                <td>{{ entry.odds }}</td>
                <td>{{ entry.guarantee ? '*' : '' }}</td>
                <td>{{ returnUsernameById( entry.user_id ) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="true">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Pick of the day stats</h2>
          <h5>Hypothesis: When we do the research and actually bets that are highly likely with great odds, we do well</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Member</th>
                <th scope="col">+/- in decimals</th>
                <th scope="col">Number of Picks</th>
                <th scope="col">Average Odds</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Chris</th>
                <td>+1.43</td>
                <td>2</td>
                <td>1.76</td>
              </tr>
              <tr>
                <th scope="row">Steve</th>
                <td>0</td>
                <td>2</td>
                <td>1.76</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>+$45</td>
                <td>+1.43</td>
                <td>1.76</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>