<div ng-init="init()">
  <div style="background-color: #0966B9">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 style="color: white">GAMBLING CLUB</h1>
          <h4 style="color: white">Last updated {{ lastUpdatedDate | date : "EEEE, d MMMM, y" }}</h4>
          <h5 style="color: white">Total $: $650</h5>
          <h5 style="color: white"># Of Days In Operation: {{ numberOfDaysInOperation }}</h5>
          <h5 style="color: white">Next Deposit Date: 28 December 2017</h5>
        </div>
        <div class="col-xs-12" style="color: white">
          <table class="table table-bordered" style="margin-top: 15px">
            <thead>
              <tr>
                <th scope="col">Member</th>
                <th scope="col">+/-</th>
                <th scope="col"># of Bets</th>
                <th scope="col">Active Days</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Chris</th>
                <td>+$250</td>
                <td>30</td>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Steve</th>
                <td>$0</td>
                <td>0</td>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>+$250</td>
                <td>30</td>
                <td>N/A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Add Entry</h2>
          <form ng-submit="createEntry()">
            <div class="form-group">
              <label for="date-picker">Date</label>
              <input class="form-control" id="date-picker" type="text" 
            autocomplete="off"    
            data-provide='datepicker' ng-model="entry.date">
            </div>
            <div class="form-group">
              <label for="entry-type">Entry Type:</label>
              <select class="form-control" id="entry-type" ng-model="entry.type">
                <option value="win">Win</option>
                <option value="loss">Loss</option>
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
              </select>
            </div>
            <div class="form-group">
              <label for="amount" ng-show="entry.type === 'win' || entry.type === 'loss'">Wager</label>
              <label for="amount" ng-hide="entry.type === 'win' || entry.type === 'loss'">Amount</label>
              <input class="form-control" id="amount" ng-model="entry.amount">
            </div>
            <div class="form-group" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label for="odds">Odds</label>
              <input class="form-control" id="odds" placeholder="Odds">
            </div>
            <div class="form-group" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label for="description">Description</label>
              <input class="form-control" id="description" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="member-type">Member</label>
              <select class="form-control" id="member-type" ng-model="entry.user_id">
                <option ng-repeat="user in users" ng-value="user.id">{{ user.username }}</option>
              </select>
            </div>
            <div class="form-check" ng-show="entry.type === 'win' || entry.type === 'loss'">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Pick of the day
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Pick of the day stats</h2>
          <h5>Hypothesis: When we do the research and actually bets that are highly likely with great odds, we do well</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Member</th>
                <th scope="col">+/- in decimals</th>
                <th scope="col">Number of Picks</th>
                <th scope="col">Average Odds</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Chris</th>
                <td>+1.43</td>
                <td>2</td>
                <td>1.76</td>
              </tr>
              <tr>
                <th scope="row">Steve</th>
                <td>0</td>
                <td>2</td>
                <td>1.76</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>+$45</td>
                <td>+1.43</td>
                <td>1.76</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Results</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Member</th>
                <th scope="col">+/-</th>
                <th scope="col">Odds</th>
                <th scope="col">Wager</th>
                <th scope="col">Pick of the Day</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Chris</th>
                <td>+$45</td>
                <td>2</td>
                <td>$45</td>
                <td>Yes</td>
                <td>Bucks to beat bulls.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>