<nav-bar></nav-bar>
<div id="home">

<div class="content-inner">
  <div class="container-fluid">
      <!-- Begin Page Header-->
      <div class="row">
          <div class="page-header">
            <div class="d-flex align-items-center">
              <h2 class="page-header-title">Timeline</h2>
            </div>
          </div>
      </div>

      <div class="row flex-row" ng-show="signedIn() && user.admin">
        <div class="col-12">
          <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>New</h4>
            </div>
            <div class="widget-body">
              <form name="newPostForm" ng-submit="uploadFileThenCreatePost( newPostForm )" class="needs-validation" id="new-post-form" novalidate>
                <div class="form-group row align-items-center">
                    <label class="col-lg-3 form-control-label d-flex">Title</label>
                    <div class="col-lg-9">
                      <input class="form-control" ng-model="newBlogPostHub.title" placeholder="Title" required>
                      <div class="invalid-feedback">
                        Please enter a title
                      </div>
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center">
                    <label class="col-lg-3 form-control-label d-flex">Description</label>
                    <div class="col-lg-9">
                      <textarea 
                        class="form-control" 
                        rows="4" 
                        ng-model="newBlogPostHub.description" 
                        placeholder="Description" 
                        required></textarea>
                      <div class="invalid-feedback">
                        Please enter a description
                      </div>
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center">
                    <label class="col-lg-3 form-control-label d-flex">Date</label>
                    <div class="col-lg-9">
                      <input type="text" 
                      autocomplete="off"
                      data-provide='datepicker' 
                      class="form-control" 
                      id="date-picker" 
                      ng-model="newBlogPostHub.dateAdded" 
                      placeholder="Date Added"
                      required>
                      <div class="invalid-feedback">
                          Please select a date
                      </div>
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label class="col-lg-3 form-control-label d-flex">Youtube URL</label>
                    <div class="col-lg-9">
                      <input class="form-control" ng-model="newBlogPostHub.youtubeUrl" placeholder="Youtube URL">
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center">
                  <label class="col-lg-3 form-control-label d-flex">Tags</label>
                  <div class="col-lg-9">

                    <div class="input-group form-group">
                      <input class="form-control" 
                        placeholder="Tag" 
                        ng-model="newBlogPostHub.tag" 
                        ng-keypress="newBlogPostHub.addTagOnKeyPress($event);">
                        <span class="input-group-addon addon-orange" ng-click="newBlogPostHub.addTagAndReset()"><span class="la la-plus" id="plus-sign"></span></span>
                    </div>

                    <div ng-show="newBlogPostHub.tags.length">
                      <div id="form-tag-container">
                        <span class="tag-container" ng-repeat="tag in newBlogPostHub.tags" style="margin-right: 10px; margin-bottom: 10px;">#{{ tag }} <span class="la la-remove" ng-click="newBlogPostHub.removeTag($index)"></span></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="em-separator separator-dashed"></div>

                <div class="form-group row d-flex align-items-center">
                  <label class="col-lg-3 form-control-label d-flex">Picture</label>
                  <div class="col-lg-9">
                    <input name="file" id="attachments-upload" type="file" file>
                  </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-gradient-01" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- End Page Header -->
      <div class="row justify-content-center">
          <div class="col-xl-10 col-12">
              <!-- Begin Timeline -->
              <div class="timeline timeline-line-solid">
                  <!-- Begin Timeline Item -->
                  <div class="timeline-item" ng-repeat="post in blogPosts" infinite-scroll="getBlogPosts()">
                      <div class="timeline-point timeline-point"></div>
                      <!-- Begin Timeline Event -->
                      <div class="timeline-event">
                          <!-- Begin Widget -->
                          <div class="widget has-shadow">
                              <!-- Begin Widget Header -->
                              <div class="widget-header d-flex align-items-center">
                                  <div class="d-flex flex-column mr-auto">
                                      <div class="title">
                                          <span class="username">{{ post.title }}</span>
                                      </div>
                                  </div>
                                  <div class="widget-options" ng-show="signedIn() && user.admin">
                                      <div class="dropdown">
                                          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                              <i class="la la-ellipsis-h"></i>
                                          </button>
                                          <div class="dropdown-menu">
                                              <a href="#" class="dropdown-item"> 
                                                  <i class="la la-edit"></i>Edit Post
                                              </a>
                                              <a ng-click="deleteBlogPost( post )" class="dropdown-item"> 
                                                  <i class="la la-trash"></i>Delete Post
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End Widget Header -->
                              <!-- Begin Widget Body -->
                              <div class="widget-body">
                                <div class="blog-post">
                                  <div class="blog-post-image-frame" id="{{'project-image-frame-' + $index}}" ng-if="post.image_url">
                                    <div class="blog-post-image" id="{{ 'blog-post-image-' + $index }}">
                                      <img ng-src="{{ post.image_url | linkFilter }}">
                                    </div>

                                    <div class="play-button-container" ng-show="post.youtube_url" ng-click="initiateVideo($index)" id="{{'play-button-container-' + $index}}">
                                      <a><img src="https://res.cloudinary.com/digguide/image/upload/s--65APZZ7U--/c_scale,w_105/v1485650789/Personal%20Site/simplistic_play_icon__ico__png__by_micahpkay-d6opha8.png"></a>
                                    </div>
                                    <div class="youtube-container" id="{{ 'youtube-container-' + $index }}">
                                      <youtube-video video-url="post.youtube_url" player-vars="youTubePlayerVariables"  player-height="'100%'" ng-if="post.youtube_url" ></youtube-video>
                                    </div>
                                  </div> 

                                  <div class="blog-post-image-frame" id="{{'project-image-frame-' + $index}}" ng-if="post.attachments[0].url">
                                    <div class="blog-post-image" id="{{ 'blog-post-image-' + $index }}">
                                      <img ng-src="{{ post.attachments[0].url }}">
                                    </div>

                                    <div class="play-button-container" ng-show="post.youtube_url" ng-click="initiateVideo($index)" id="{{'play-button-container-' + $index}}">
                                      <a><img src="https://res.cloudinary.com/digguide/image/upload/s--65APZZ7U--/c_scale,w_105/v1485650789/Personal%20Site/simplistic_play_icon__ico__png__by_micahpkay-d6opha8.png"></a>
                                    </div>
                                    <div class="youtube-container" id="{{ 'youtube-container-' + $index }}">
                                      <youtube-video video-url="post.youtube_url" player-vars="youTubePlayerVariables"  player-height="'100%'" ng-if="post.youtube_url" ></youtube-video>
                                    </div>
                                  </div> 
                                </div>
                                  <p>
                                    {{ post.description }}
                                  </p>
                              </div>
                              <!-- End Widget Body -->
                              <!-- Begin Widget Footer -->
                              <div class="widget-footer d-flex align-items-center">
                                <div class="col-12 no-padding d-flex">
                                  <div class="meta">
                                    <a ng ng-repeat="tag in post.tags" ng-click="setTagAndGetBlogPosts(tag.tag); $event.preventDefault();" style="margin-right: 10px;">#{{ tag.tag }}</a>
                                  </div>
                                </div>
                              </div>
                              <!-- End Widget Footer -->
                          </div>
                          <!-- End Widget -->
                          <div class="{{ ( $index % 2 === 1 ) ? 'time-left' : 'time-right' }}">{{ post.date_added | date:'mediumDate' }}</div>
                      </div>
                      <!-- End Timeline Event -->
                  </div>
                  <!-- End Timeline Item -->
              </div>
              <!-- End Timeline -->
          </div>
      </div>
      <!-- End Row -->
  </div>
  <!-- End Container -->
</div>

</div>
<fsc-footer></fsc-footer>