<!-- Begin Container -->
<div class="container-fluid h-100 overflow-y bg-fixed-02">
    <div class="row flex-row h-100">
        <div class="col-12 my-auto">
            <div class="password-form mx-auto">
                <div class="logo-centered">
                    <a href="/">
                        <img src="images/fsc.png" alt="logo" style="margin-bottom: 0px;">
                    </a>
                </div>
                <h3>Admin Log In</h3>
                <form name="loginForm" ng-submit="login( loginForm )" novalidate>
                  <div class="group material-input">
                    <input type="email" ng-model="user.email" autofocus required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                    <div class="invalid-feedback" style="display: block" ng-show="formSubmitted && !user.email.length">
                      Please enter an email
                    </div>
                  </div>

                  <div class="group material-input">
                    <input type="password" ng-model="user.password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>
                    <div class="invalid-feedback" style="display: block" ng-show="formSubmitted && !user.password.length">
                      Please enter a password
                    </div>
                  </div>

                  <div class="styled-checkbox">
                    <input type="checkbox" name="checkbox" id="remember" ng-model="user.remember_me">
                    <label for="remember">Remember me</label>
                  </div>

                  <div class="button text-center">
                    <input type="submit" class="btn btn-lg btn-gradient-01" value="Log In">
                  </div>

                </form>
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Container -->