<div header-and-bootstrapped>

  <h4>Admin Log in</h4>

  <form ng-submit="login()">
    <div class="field">
      <input type="email" class="form-control text-input-width-control" placeholder="Email" ng-model="user.email" autofocus>
    </div>
    <div class="field">
      <input type="password" class="form-control text-input-width-control" placeholder="Password" ng-model="user.password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="user.remember_me"> Remember Me
      </label>
    </div>
    <input type="submit" class="btn btn-info" value="Log In">
  </form>

</div>
