<!-- Begin Header -->
<header class="header" ng-init="init()">
    <nav class="navbar fixed-top" style="min-height: 70px;">
        <!-- Begin Topbar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
            <!-- Begin Logo -->
            <div class="navbar-header">
                <a ui-sref="home" class="navbar-brand">
                    <div class="brand-image">
                      <h2 style="margin-top: 0.5rem">Full Stack Chang</h2>
                    </div>
                </a>
            </div>
            <!-- End Logo -->
            <!-- Begin Navbar Menu -->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-center pull-right">
                <li>
                    <a ui-sref="projects" style="margin-right: 30px;">Projects</a>
                </li>
                <li ng-hide="signedIn()">
                    <a ng-href="admin/login">Admin</a>
                </li>
                <!-- User -->
                <li class="nav-item dropdown" ng-show="signedIn()"><a id="user" rel="nofollow" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="https://res.cloudinary.com/hpxlnqput/image/upload/f_auto,q_auto/v1562842767/tape_q9thgj.gif" class="avatar rounded-circle"></a>
                    <ul aria-labelledby="user" class="user-size dropdown-menu" style="padding: 0.9rem 0;">
                        <li>
                          <a class="dropdown-item" ng-href="/admin">Admin</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="aims">Aims</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="projects">Projects</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="taxcategories">Tax Categories</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="taxdashboard">Tax Dashboard</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="tenancyagreements">Tenancy Agreements</a>
                        </li>
                        <li>
                          <a class="dropdown-item" ui-sref="tranxactions">Tranxactions</a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a ng-click="logout()" class="dropdown-item"> 
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End User -->
            </ul>
            <!-- End Navbar Menu -->
        </div>
        <!-- End Topbar -->
    </nav>
</header>
<!-- End Header -->