<nav class="navbar navbar-expand-sm" id="navbar">
  <a ui-sref="home">
    <div id="navbar-header">
      <h3 class="navbar-shadow">
        Steven Chang
      </h3>
    </div>

    <div class="navbar-shadow" id="sub-header">
      <div>
        Full Stack Developer / Automator
      </div>
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header-content" aria-controls="navbar-header-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse navbar-shadow justify-content-end" id="navbar-header-content">
    <ul class="navbar-nav">

      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" id="portfolio-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
          <img cl-src="Personal Site/lebron_head.png"  alt="portfolio" 
            width="75"
            class="d-none d-sm-flex">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="portfolio-dropdown">
          <a class="dropdown-item" ui-sref="portfolio">All</a>
          <a class="dropdown-item" ui-sref="cleaning">Cleaning Roster</a>
          <a class="dropdown-item" ui-sref="farming" ng-show="user && user.admin">Farming</a>
          <a class="dropdown-item" ui-sref="loans" ng-show="user && user.admin">Loans</a>
          <a class="dropdown-item" ui-sref="rent">Rent</a>
          <a class="dropdown-item" ui-sref="tranxactions">Tranxactions</a>
          <a class="dropdown-item" ui-sref="tranxactiontypes">Tranxaction Types</a>
          <a class="dropdown-item" ui-sref="work" ng-show="user && user.admin">Work</a>
        </div>
      </li>

      <li class="nav-item" ng-hide="signedIn()">
        <a ui-sref="login" class="nav-link">
          Admin
          <img cl-src="Personal Site/wayne_bennett_small.png"  
            alt="admin login" 
            width="75"
            class="d-none d-sm-flex">
        </a>
      </li>

      <li class="nav-item" ng-show="signedIn()">
        <a class="nav-link" ng-click="logout()">
          Logout
          <img cl-src="Personal Site/isaiah_thomas_head"  
            alt="logout" 
            width="75"
            class="d-none d-sm-flex">
        </a>
      </li>
    </ul>
  </div>
</nav>