<nav class="navbar navbar-default navbar-static-top" id="navbar">
  <div class="container">

    <a ui-sref="home">
      <div id="logo" class="navbar-shadow" style="display:inline-block">
        <div class="glyphicon glyphicon-tasks chips"></div>
      </div>

      <div id="headers-container">
        <h3 class="navbar-shadow" id="navbar-header">
          CHIP UP
        </h3>
        <div class="sub-header navbar-shadow">
          <div>
            Brisbane Cash Delivery
          </div>
        </div>
      </div>
    </a>

    <h3 class="navbar-shadow" id="navbar-options">

      <a ui-sref="home" ng-show="signedIn()" ng-click="logout()" class="glyphicon glyphicon-log-out navbar-option"></a>

      <a ui-sref="login" ng-hide="signedIn()" class="glyphicon glyphicon-log-in navbar-option"></a>
    </div>
  </h3>
</nav>