<div navbar-and-container>

  <h4>Sign up</h4>

  <form ng-submit="register()">
    <div class="field">
      <input type="email" class="form-control text-input-width-control" placeholder="Email" ng-model="user.email" autofocus>
    </div>
    <div class="field">
      <input type="username" class="form-control text-input-width-control" placeholder="Username" ng-model="user.username" autofocus>
    </div>
    <div class="field">
      <input type="password" class="form-control text-input-width-control" placeholder="Password" ng-model="user.password">
    </div>
    <div class="actions">
      <input type="submit" class="btn btn-info" value="Log In">
    </div>
  </form>

</div>
