<div ng-init="init()">
  <nav-bar></nav-bar>
  <div class="container" style="margin-top: -20px;">
    <div class="row">
      <div class="col-xs-12">
        <h1>Rent Spreadsheet</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div ng-click="getTransactions( tenant )" ng-repeat="tenant in tenants">
          <span style="cursor: pointer;">{{ tenant.username }}</span>
        </div>
      </div>
    </div>

    <div class="row" ng-show="selectedTenant">
      <hr>
      <div class="col-xs-12">
        <h2>{{ selectedTenant.username | uppercase }}</h2>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" class="form-control" id="password" ng-model="password">
        </div>
      </div>

      <div class="col-xs-12" ng-show="(password === cheyennePassword && selectedTenant.username === 'Cheyenne Harmatz') || (password === danPassword && selectedTenant.username === 'Dan Nitarski') || (password === sidPassword && selectedTenant.username === 'Sid Sahi')">
        <div ng-if="transactions.balance === 0">
          You currently don't owe anything.
        </div>
        <div ng-if="transactions.balance > 0">
          You currently owe {{ transactions.balance | currency }}.
        </div>
        <div ng-if="transactions.balance < 0">
          You currently owe {{ transactions.balance | currency }}.
        </div>
        <div>
          Bond: {{ bond | currency }}
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">+/-</th>
              </tr>
              <tr ng-repeat="transaction in transactions">
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount | currency }}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>