<div>
  <nav-bar></nav-bar>
  <div class="container" style="margin-top: -20px;">
    <div class="row">
      <div class="col-xs-12">
        <h1>Rent Spreadsheet</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div ng-click="getTenantDetails( 'cheyenne' )">
          <span style="cursor: pointer;">Cheyenne</span>
        </div>
        <div ng-click="getTenantDetails( 'dan' )">
          <span style="cursor: pointer;">Dan</span>
        </div>
        <div ng-click="getTenantDetails( 'sid' )">
          <span style="cursor: pointer;">Sid</span>
        </div>
      </div>
    </div>

    <div class="row" ng-show="selectedTenant">
      <hr>
      <div class="col-xs-12">
        <h2>{{ selectedTenant | uppercase }}</h2>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" class="form-control" id="password" ng-model="password">
        </div>
      </div>

      <div class="col-xs-12" ng-show="(password === cheyennePassword && selectedTenant === 'cheyenne') || (password === danPassword && selectedTenant === 'dan') || (password === sidPassword && selectedTenant === 'sid')">
        <div>
          Bond: $300
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">+/-</th>
              </tr>
              <tr ng-repeat="transaction in transactions">
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount | currency }}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>