<div id='tetris'>
  <div class="container" id="tetris-container">
    <audio id="tetris-audio" loop="loop" autoplay="autoplay" src="/audios/tetris.mp3"></audio>

    <div class="portfolio-show-container" style="position:relative">

      <div id="putin-container" style="position: absolute">
        <a ui-sref="home">
          <img src="http://res.cloudinary.com/digguide/image/upload/s--LcabBdwD--/v1474175297/Personal%20Site/Portflio/Tetris/putin.png" alt="putin">
        </a>
      </div>

      <div class="row">

        <div class="col-xs-4">
          <div id="left-side">

            <div id="title">
              <h1>Tetris</h1> 
              <div id="speakers" ng-click="toggleSound()">
                <img src="http://res.cloudinary.com/digguide/image/upload/s--cJn5svI7--/v1474161931/Personal%20Site/Portflio/speakers_on.png" alt="speaker-on" ng-show="soundOn">
                <img src="http://res.cloudinary.com/digguide/image/upload/s--aEsgb0s4--/v1474162428/Personal%20Site/Portflio/speakers_off.png" alt="speaker-off" ng-show="!soundOn">
              </div>
            </div>

            <div>
              <h4>Commands</h4>
            </div>
            <div id="commands">
              <h4 class='stats-and-details'>up: rotate</h4>
              <h4 class='stats-and-details'>left / right / down: move</h4>
            </div>

            <div class="sub-header">
              <h4>High Scores</h4>
            </div>

            <div id="high-scores">
              <h4>
                <table>
                  <tr>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Lines</th>
                    <th>Level</th>
                  </tr>
                  <tr ng-repeat="score in highScoresAndAssociations">
                    <td>{{ score.name }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.line.lines }}</td>
                    <td>{{ score.level.level }}</td>
                  </tr>
                </table>
              </h4>
            </div>

            <div id="new-high-score-container" ng-show="newHighScoreAchieved">
              <h4>New High Score!</h4>
              <form ng-submit="submitHighScore()">
                <input type="text" class="form-control" placeholder="Name" ng-model="newHighScoreName">
                <p id="name-length-notice">Name must be 1 - 7 characters in length.</p>
                <input type="submit" class="btn btn-success">
              </form>
            </div>

          </div>
        </div>

        <div class="col-xs-4">
          <div class='new-game-and-current-score'>
            <div id='new-game'>
              <h4>New Game</h4>
            </div>
          </div>
          <div id="project-main-container">
            <div id="game-board">
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div id="right-side">
            <div id="next-piece">
              <h4>Next Piece</h4>
              <div id="next-piece-container">
                <div class="next-piece-row">
                  <div class="square" id="nps-1-0"></div><div class="square" id="nps-1-1"></div><div class="square" id="nps-1-2"></div><div class="square" id="nps-1-3"></div>
                </div>
                <div class="next-piece-row">
                  <div class="square" id="nps-0-0"></div><div class="square" id="nps-0-1"></div><div class="square" id="nps-0-2"></div><div class="square" id="nps-0-3"></div>
                </div>
              </div>
            </div>
            <h4>Score</h4>
            <h4 class='stats-and-details'>{{ score }}</h4>
            <h4>Level</h4>
            <h4 class='stats-and-details'>{{ level }}</h4>
            <h4>Lines</h4>
            <h4 class='stats-and-details'>{{ lines }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>