<nav-bar></nav-bar>
<div id="tranxactions" ng-init="init()" class="pt-3 pb-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Tranxactions To Simplify Taxes</h1>
        <h4>Make Life Easier For Yourself : )</h4>
        <hr>
        <h5><a href="https://www.superguide.com.au/boost-your-superannuation/income-tax-rates" target="_blank">Income tax rates for 2018/2019 financial year</a></h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Income</th>
              <th scope="col">Marginal tax rate</th>
              <th scope="col">Tax payable*</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$0-$18,200</td>
              <td>0%</td>
              <td>Nil</td>
            </tr>
            <tr>
              <td>$18,201- $37,000</td>
              <td>19%</td>
              <td>19 cents for each $1 over $18,200</td>
            </tr>
            <tr>
              <td>$37,001-$90,000</td>
              <td>32.5%</td>
              <td>$3,572 plus 32.5 cents for each dollar over $37,000</td>
            </tr>
            <tr>
              <td>$90,001-$180,000</td>
              <td>37%</td>
              <td>$20,797 plus 37 cents for each dollar over $90,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <h4>Create Tranxaction Type</h4>
        <form ng-submit="createTranxactionType()">
          <div class="form-group">
            <input type="text"
              ng-model="newTranxactionType.description"
              placeholder="Tranxaction Type"
              class="form-control">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Create New Tranxaction</h3>
        <form ng-submit="createFarmingTranxaction()">
          <div class="form-group">
            <select ng-model="selectedTranxactionType" ng-options="item.description for item in tranxactionTypes" class="form-control"></select>
          </div>

          <div class="form-group" ng-show="selectedTranxactionType.description == 'property' || selectedTranxactionType.description == 'rent'">
            <select ng-model="selectedProperty" ng-options="property.address for property in properties" class="form-control"></select>
          </div>

          <div class="form-group" ng-show="selectedTranxactionType.description == 'rent'">
            <select ng-model="selectedTenancyAgreement" ng-options="tenancyAgreement.user.username for tenancyAgreement in tenancyAgreements" class="form-control"></select>
          </div>

          <div class="form-group" ng-show="selectedTranxactionType.description == 'work'">
            <select ng-model="selectedClient" ng-options="client.name for client in clients" class="form-control"></select>
          </div>

          <div class="form-group">
            <input type="text" 
              autocomplete="off"
              data-provide='datepicker' 
              class="form-control" 
              id="date-picker" 
              ng-model="newTranxaction.date" 
              placeholder="Date">
          </div>

          <div class="form-group">
            <input type="text"
              ng-model="newTranxaction.description"
              placeholder="Description"
              class="form-control">
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text"
                class="form-control"
                ng-model="newTranxaction.amount"
                placeholder="Amount">
            </div>
          </div>

          <div class="form-group">
            <input type="text"
              ng-show="selectedTranxactionType.description == 'bet'"
              ng-model="newTranxaction.odds"
              class="form-control"
              placeholder="odds">
          </div>

          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" ng-model="newTranxaction.tax" id="tax">
            <label class="form-check-label" for="tax">Tax</label>
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="tranxaction in farmingTranxactions">
            <tr>
              <td>{{ tranxaction.date | date : 'd MMM yy' }}</td>
              <td>{{ tranxaction.description }}</td>
              <td>{{ tranxaction.amount | currency }}</td>
              <td><a href="#"><span class="fa fa-trash-alt" ng-click="deleteTranxaction( $index )"></span></a></td>
              <td><a href="#" ng-click="slideToggleContainer(  '#farming-tranxaction-' + $index )"><span class="glyphicon glyphicon-triangle-bottom"></span></a></td>
            </tr>
            <tr class="sub-table-row" id="farming-tranxaction-{{ $index }}" style="display: none;">
              <td colspan="5">
                <div ng-if="tranxaction.odds && tranxaction.odds > 1">
                  <strong># Odds:</strong> {{ tranxaction.odds }}
                </div>
                <div>
                  <strong># Farming:</strong> {{ tranxaction.farming }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>