<div ng-init="init()" id="work">
  <nav-bar></nav-bar>

  <div id="sub-nav">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <div class="link-container">
            <a href="#" ng-click="visibleSection = 'clients'" ng-class="{ 'link-selected': visibleSection == 'clients' }">Clients</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="link-container">
            <a href="#" ng-click="visibleSection = 'jobs'" ng-class="{ 'link-selected': visibleSection == 'jobs' }">Jobs</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="link-container">
            <a href="#" ng-click="visibleSection = 'payments'" ng-class="{ 'link-selected': visibleSection == 'payments' }">Payments</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row" ng-show="visibleSection === 'clients'">
      <div class="col-12">
        <h3>Create New Client</h3>
        <form ng-submit="createClient()">
          <div class="form-group">
            <input type="text"
              class="form-control"
              ng-model="newClient.name"
              placeholder="Name"
              required>
          </div>

          <div class="form-group">
            <input type="email"
              ng-model="newClient.email"
              placeholder="Email"
              class="form-control">
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
      </div>

      <div class="col-12">
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Client</th>
              <th scope="col">Balance</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="client in clients">
            <tr>
              <td>{{ client.name }}</td>
              <td>{{ client.balance | currency }}</td>
              <td><a href="#" ng-click="deleteClient( $index )" class="glyphicon glyphicon-trash"></a></td>
            </tr>
            <tr class="sub-table-row" ng-if="client.email">
              <td colspan="3">
                <div ng-if="client.email">
                  # {{ client.email }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="visibleSection =='jobs'">
      <div class="col-12">
        <h3>Create New Job</h3>
        <form ng-submit="createJob()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input moment-picker="newJob.start_time" 
                  locale="en" 
                  format="MMMM Do YYYY, h:mm a" 
                  class="form-control" 
                  placeholder="Start" 
                  today="true"
                  keyboard="true"
                  ng-model="newJob.start_time">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <input moment-picker="newJob.end_time" 
                  locale="en" 
                  format="MMMM Do YYYY, h:mm a"
                  class="form-control" 
                  placeholder="Finish" 
                  today="true"
                  keyboard="true"
                  ng-model="newJob.end_time">
              </div>
            </div>
          </div>

          <div class="form-group">
            <select ng-model="newJob.client_id" ng-options="x.id as x.name for x in clients" class="form-control"></select>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              ng-model="newJob.description"
              placeholder="Description"
              required>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text"
                class="form-control"
                ng-model="newJob.cost"
                placeholder="Cost">
            </div>
          </div>

          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" ng-model="newJob.taxable" id="new-job-taxable">
            <label class="form-check-label" for="new-job-taxable">Taxable</label>
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
      </div>

      <div class="col-12">
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Started</th>
              <th scope="col">Client</th>
              <th scope="col">Cost</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="job in jobs">
            <tr>
              <td>{{ job.start_time | date : 'd MMM yyyy h:mm a' }}</td>
              <td>{{ job.client.name }}</td>
              <td>{{ job.cost | currency }}</td>
              <td><a href="#" ng-click="deleteJob( $index )" class="glyphicon glyphicon-trash"></a></td>
            </tr>
            <tr class="sub-table-row">
              <td colspan="4">
                <div ng-if="job.end_time">
                  # Finished: {{ job.end_time | date : 'd MMM yyyy h:mm a' }}
                </div>
                <div ng-if="job.description">
                  # Description: {{ job.description }}
                </div>
                <div>
                  # Taxable: {{ job.taxable }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="visibleSection =='payments'">
      <div class="col-12">
        <h3>Add Client Payment</h3>
        <form ng-submit="createPayment()">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input moment-picker="newPayment.date" 
                  locale="en" 
                  format="MMMM Do YYYY" 
                  class="form-control" 
                  placeholder="Date" 
                  today="true"
                  keyboard="true"
                  ng-model="newPayment.date"
                  required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <select ng-model="newPayment.client_id" ng-options="x.id as x.name for x in clients" class="form-control"></select>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text"
                class="form-control"
                ng-model="newPayment.amount"
                placeholder="Amount"
                required>
            </div>
          </div>

          <input type="submit" value="Create" class="btn btn-primary">
        </form>
      </div>

      <div class="col-12">
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Client</th>
              <th scope="col">Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="payment in payments">
            <tr>
              <td>{{ payment.date | date : 'd MMM yyyy' }}</td>
              <td>{{ payment.client.name }}</td>
              <td>{{ payment.amount | currency }}</td>
              <td><a href="#" ng-click="deletePayment( $index )" class="glyphicon glyphicon-trash"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>