#cryptos
  .page
    .page-content.container-fluid
      .row
        .col-12
          / Page Widget
          .card.card-shadow.text-center
            .card-block
              %p.profile-job
                Brave browser
                %a{ :href => "https://brave.com/ful354", :style => "", :target => "_blank" } CHIL Fundraising
