<%= form_with(model: weekly_summary, local: true) do |form| %>
  <% if weekly_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weekly_summary.errors.count, "error") %> prohibited this weekly_summary from being saved:</h2>

      <ul>
      <% weekly_summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
