- unless hide_footer
  %footer.site-footer
    .site-footer-legal © 2016-${Time.current.year} Full Stack Chang
    .site-footer-right
      Crafted with
      %i.red-600.wb.wb-heart
      by
      %a{ href: 'https://www.fullstackchang.com' } fullstackchang.com
 