<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle">
    <img src="https://res.cloudinary.com/hluibvnjl/image/upload/fl_lossy,q_50,fl_awebp/v1566686257/giphy_eucryw.webp">
    <h2>Under Maintenance</h2>

    <footer class="page-copyright">
      <p>WEBSITE BY FULL STACK CHANG</p>
      <p>© 2019. All RIGHT RESERVED.</p>
    </footer>
  </div>
</div>