<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The personal website/portfolio of full stack web developer, Steven Chang.">
	  <title>Full Stack Chang</title>
	  <%= favicon_link_tag '/favicons/favicon.png' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>

	  <script src="https://www.youtube.com/iframe_api"></script>

	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</head>
	<body ng-app="app">

		<ui-view></ui-view>

	</body>
</html>
