<div id="home">
  <nav-bar></nav-bar>

  <div id="home-banner">
    <img ng-src="https://res.cloudinary.com/digguide/image/upload/v1494288512/Personal%20Site/A-Book-of-Five-Rings.jpg">
  </div>

  <div class="container">
    <div class="row" ng-show="signedIn()">
      <div class="col-xs-12">
        <!-- Form to add projects in easily. -->
        <h4 ng-click="addBlogPostsFormVisible = !addBlogPostsFormVisible; slideToggleAddBlogPostForm();" class="fake-link">Add a new post 
          <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addBlogPostsFormVisible"></span>
          <span class="glyphicon glyphicon-triangle-top" ng-show="addBlogPostsFormVisible"></span>
        </h4>
        <form ng-submit="newBlogPostHub.createNewBlogPost()" id="add-blog-post-form">

          <div class="field">
            <input class="form-control" ng-model="newBlogPostHub.title" placeholder="Title" required>
          </div>

          <div class="field">
            <textarea class="form-control" rows="4" ng-model="newBlogPostHub.description" placeholder="Description" required></textarea>
          </div>

          <div class="field">
            <input type="text" 
            autocomplete="off"
            data-provide='datepicker' 
            class="form-control" 
            id="date-picker" 
            ng-model="newBlogPostHub.dateAdded" 
            placeholder="Date Added">
          </div>

          <div class="field">
            <input class="form-control" ng-model="newBlogPostHub.youtubeUrl" placeholder="Youtube Url">
          </div>

          <div class="sub-container form-group">
            <div class="sub-container form-group">
              <div id="direct_upload_jquery" ng-model="files" class="form-group">
                <div id="photo-upload-image-container">
                  <img ng-src="https://res.cloudinary.com/digguide/image/upload/v1498269304/Dig%20Guide/upload-icon-20606.png">
                </div>
                <div id="upload-button-container">
                  <button class="btn btn-success">Choose files to Upload</button>
                  <input type="file" name="file" class="cloudinary_fileupload btn btn-success" multiple ng-model="$parent.files" value="Choose Files To Upload">
                </div>
                <p style="font-size: 14px; font-weight: 200;">or drag and drop them here</p>
              </div>
            </div>
          </div>

          <div ng-if="newBlogPostHub.imageUrl" style="height: 300px">
            <img ng-src="{{ newBlogPostHub.imageUrl }}" style="height: 100%">
          </div>

          <div class="field" style="position: relative;">
            <input class="form-control" placeholder="Tag" ng-model="newBlogPostHub.tag" ng-keypress="newBlogPostHub.addTagOnKeyPress($event);">

            <div class="glyphicon glyphicon-plus" id="plus-sign" ng-click="newBlogPostHub.addTagAndReset()"></div>
          </div>

          <div class="field" ng-show="newBlogPostHub.tags.length">
            <div class="form-control" id="form-tag-container">
              <div class="tag-container" ng-repeat="tag in newBlogPostHub.tags">{{ tag }} <span class="glyphicon glyphicon-remove" ng-click="newBlogPostHub.removeTag($index)"></span></div>
            </div>
          </div>

          <div class="field">
            <input type="submit" value="Create" class="btn btn-info">
          </div>
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h5>Micro Blog</h5>
      </div>
    </div>

    <ul class="list-grid row">
      <li class="col-xs-12 col-md-4 col-sm-6" ng-repeat="post in blogPosts | orderBy : 'date_added' : true">
        <div class="blog-post">
          <div class="blog-post-header">
            <span class="glyphicon glyphicon-remove" ng-click="deleteBlogPost(post)" ng-show="signedIn()"></span>
            <h4>{{ post.title }}</h4>
            <div class="date">
              {{ post.date_added | date:'mediumDate' }}
            </div>
          </div>
          <div class="blog-post-image-frame" id="{{'project-image-frame-' + $index}}" ng-show="post.image_url">
            <div class="blog-post-image" id="{{ 'blog-post-image-' + $index }}">
              <img ng-src="{{ post.image_url }}">
            </div>

            <div class="play-button-container" ng-show="post.youtube_url" ng-click="initiateVideo($index)" id="{{'play-button-container-' + $index}}">
              <img src="https://res.cloudinary.com/digguide/image/upload/s--65APZZ7U--/c_scale,w_105/v1485650789/Personal%20Site/simplistic_play_icon__ico__png__by_micahpkay-d6opha8.png" class="fake-link">
            </div>
            <div class="youtube-container" id="{{ 'youtube-container-' + $index }}">
              <youtube-video video-url="post.youtube_url" player-vars="youTubePlayerVariables"  player-height="'100%'" ng-if="post.youtube_url" ></youtube-video>
            </div>
          </div> 
          <div class="blog-post-description" style="white-space: pre-wrap;">{{ post.description }}</div>
          <div class="post-tags">
            <a ng-href="#" ng-repeat="tag in post.tags" ng-click="retrieveAllBlogPostsViaTag(tag.tag); $event.preventDefault();"> #{{ tag.tag }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>