<div id="home">
  <nav-bar></nav-bar>

  <div id="home-banner">
    <div class="container-fluid">
      <div class="row">
        <div id="spirit-animal-text" class="home-banner-text">
          {{ stackText }}
        </div>
        <div id="what-i-want-to-work-on-text" class="home-banner-text">
          {{ theAimText }}
        </div>
        <div id="linked-in-image">
          <a href="https://www.linkedin.com/in/steven-chang-863a68b2?trk=hp-identity-name">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="home-banner-text">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" ng-show="signedIn()">
      <div class="col-xs-12">
        <!-- Form to add projects in easily. -->
        <a href="#">
          <h4 ng-click="addBlogPostsFormVisible = !addBlogPostsFormVisible; slideToggleAddBlogPostForm();">Add a new post 
            <span class="glyphicon glyphicon-triangle-bottom" ng-hide="addBlogPostsFormVisible"></span>
            <span class="glyphicon glyphicon-triangle-top" ng-show="addBlogPostsFormVisible"></span>
          </h4>
        </a>
        <form ng-submit="newBlogPostHub.createNewBlogPost()" id="add-blog-post-form">

          <div class="field">
            <input class="form-control" ng-model="newBlogPostHub.title" placeholder="Title" required>
          </div>

          <div class="field">
            <textarea class="form-control" rows="4" ng-model="newBlogPostHub.description" placeholder="Description" required></textarea>
          </div>

          <div class="field">
            <input type="text" data-provide='datepicker' class="form-control" id="date-picker" ng-model="newBlogPostHub.dateAdded" placeholder="Date Added">
          </div>

          <div class="field">
            <input type="text" class="form-control" ng-model="newBlogPostHub.imageUrl" placeholder="Cover Image Address">
          </div>

          <div class="field">
            <input class="form-control" ng-model="newBlogPostHub.youtubeUrl" placeholder="Youtube Url">
          </div>

          <div class="field" style="position: relative;">
            <input class="form-control" placeholder="Tag" ng-model="newBlogPostHub.tag" ng-keypress="newBlogPostHub.addTagOnKeyPress($event);">

            <div class="glyphicon glyphicon-plus" id="plus-sign" ng-click="newBlogPostHub.addTagAndReset()"></div>
          </div>

          <div class="field" ng-show="newBlogPostHub.tags.length">
            <div class="form-control" id="form-tag-container">
              <div class="tag-container" ng-repeat="tag in newBlogPostHub.tags">{{ tag }} <span class="glyphicon glyphicon-remove" ng-click="newBlogPostHub.removeTag($index)"></span></div>
            </div>
          </div>

          <div class="field">
            <input type="submit" value="Create" class="btn btn-info">
          </div>
        </form>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h5>Micro Blog</h5>
      </div>
    </div>

    <ul class="list-grid row">
      <li class="col-xs-12 col-md-4 col-sm-6" ng-repeat="post in blogPosts | orderBy : 'date_added' : true">
        <div class="blog-post">
          <div class="blog-post-header">
            <h4>{{ post.title }}</h4>
            <div class="date">
              {{ post.date_added | date:'mediumDate' }}
            </div>
          </div>
          <div class="blog-post-image-frame" id="{{'project-image-frame-' + $index}}" ng-show="post.image_url">
            <div class="blog-post-image">
              <img ng-src="{{ post.image_url }}">
            </div>

            <div class="play-button-container" ng-show="post.youtube_url" ng-click="initiateVideo($index, post.youtube_url)">
              <a href="#">
                <img src="http://res.cloudinary.com/digguide/image/upload/s--65APZZ7U--/c_scale,w_105/v1485650789/Personal%20Site/simplistic_play_icon__ico__png__by_micahpkay-d6opha8.png">
              </a>
            </div>
          </div>
          <div class="blog-post-description">
            {{ post.description }}
          </div>
          <div class="post-tags">
            <a href="#" ng-repeat="tag in post.tags" ng-click="retrieveAllBlogPostsViaTag(tag.tag)"> #{{ tag.tag }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>